<li class="prompt">
  <div id="question-<%= prompt.id %>" class="question">
    <%= prompt.text %>
  </div>
  <% if !defined?(answer) then 
     status_class = 'not-started'
	   status_text = 'Not started yet'
	 elsif answer.status == "draft" then
	   status_class = 'draft'
     status_text = 'Draft'
	 else
	   status_class = 'finished'
     status_text = 'Finished'
	 end %>
  <% if defined?(answer) then %>
    <div id="answer-<%= answer.id %>" class="answer">
      <%= add_brs answer.content %>
    </div>
  <% end %>
  <% if false %>
  <div><span class="status <%= status_class %>"><%= status_text %></span></div>
  <% end %>
  <ul class="prompt-buttons">
    <li>
    <button id="answer-<%= prompt.id %>" class="big-button answer-button"
    <% if defined?(answer) then %>
      onclick="Prompt.begin_answer(<%= prompt.id %>, '<%= escape_javascript prompt.text %>', '<%= escape_javascript answer.content %>')"
      >
      Edit &raquo;
    <% else %> 
      onclick="Prompt.begin_answer(<%= prompt.id %>, '<%= escape_javascript prompt.text %>')"
      >
      Answer &raquo;
    <% end %>
    </button>
    </li>
  </ul>
</li>
