<% content_for :styles do %>
  <%= stylesheet_link_tag 'home' %>
<% end %>
<% default_text = "Type here to tell your story..." %>
<div id="question" class="start-hidden">&nbsp;</div>
<div id="answer-pane" class="start-hidden">
<form id="answer-box" class="span-24 last" action="#">
    <textarea name="answer[content]" id="answer-box-textarea" class="span-23 last default-text"><%= default_text %></textarea>
    <div class="prepend-15 span-9 last">
      <span class="status">&nbsp;</span>
      <span class="spinny start-hidden">&nbsp;</span>
      <ul id="save-cancel" class="button-set">
        <li><button id="cancel-button" class="big-button">Cancel</button></li>
        <li><button id="save-button" class="big-button" onclick="return Prompt.submit_answer($(this));">Save</button></li>
      </ul>
    </div>
</form>
</div>
<div id="buttons" class="span-24 last">
<ul class="button-set span-2">
  <li><button id="back-button" style="display: none" class="big-button span-2">&laquo;</button></li>
</ul>
<ul id="answer-see-more" class="button-set span-20 last">
  <li><button id="answer-button" class="big-button">Answer</button></li>
  <li><button id="see-more-button" class="big-button">See More</button></li>
</ul>
<ul class="button-set span-2 last">
  <li><button id="skip-button" class="big-button span-2">&raquo;</button></li>
</ul>
</div>
<% content_for :scripts do %>
<%= javascript_include_tag 'prompt' %>
<script type="text/javascript">
$(function() {
  var prompts = <%= @prompts.to_json %>
  var currentIndex = 0
  var showPrompt = function(index) {
    var prompt = prompts[index].prompt
    $('#question').fadeOut(200, function() {
      $(this).html(prompt.text);
      $(this).fadeIn(200);
    });
    $('#answer-pane form').attr('action', '/prompts/' + prompt.id + '/answer');
  };
  showPrompt(currentIndex);
  $('#answer-button').click(function() {
    $('#buttons').fadeOut(100, function() {
      $('#answer-pane').fadeIn(200);
    });
  });
  $('#answer-box-textarea').focus(function() {
    if ($(this).html() === '<%= default_text %>') {
      $(this).html('');
    }
    $(this).removeClass('default-text');
  });
  $('#answer-box-textarea').blur(function() {
    if ($(this).val() === '') {
      $(this).html('<%= default_text %>');
      $(this).addClass('default-text');
    }
  });
  $('#cancel-button').click(function(e) {
    $('#answer-pane').fadeOut(100, function() {
      $('#buttons').fadeIn(200);
    });
  });
  $('#answer-box').submit(function() { return false; });
  $('#skip-button').click(function() {
    if (currentIndex + 1 < prompts.length) {
      currentIndex++;
      $('#back-button').show().removeAttr('disabled');
      showPrompt(currentIndex);
      if (currentIndex + 1 === prompts.length) {
        $('#skip-button').attr('disabled', 'disabled');
      }
    }
  });
  $('#back-button').click(function() {
    if (currentIndex > 0) {
      currentIndex--;
      $('#skip-button').removeAttr('disabled');
      showPrompt(currentIndex);
      if (currentIndex === 0) {
        $('#back-button').attr('disabled', 'disabled');
      }
    }
  });
});
</script>
<% end %>
