<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Memoirable | <%= @title %></title>
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'memoirable', :media => 'screen' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Vollkorn' %>
  </head>
  <body>
    <div class="container">
      <header>
	<div id="logo">memoirable</div>
      </header>
      <section>
	<%= yield %>
      </section>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
